$whiteColor: #FFFFFF;
$naviColor: #5373FD;
$naviDarkColor: #4768fa;
$blackColor: #000000;
$darkGrey: #333333;
$greyColor: #999999;
$baseFontSize: 16px;
$baseFontWeight: 400;
$brownColor: #333333;
$redColor: #FF6363;