.steps .container {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 87px;
    padding-bottom: 53px;
    padding-left: 32px;
    padding-right: 32px;

    .decoration {
        display: flex;
    }

    .step-list {
        display: flex;
        flex-direction: row;

        .list-item {
            margin-right: 119px;
            margin-bottom: 0px;
            position: relative;

            .icon {
                margin-bottom: 0px;
            }

            .background {
                width: 96px;
                height: 96px;
                border-radius: 48px;
                background: #333333;
                position: absolute;
                top: -22px;
                left: 60px;
                display: flex;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            span {
                font-size: 36px;
                margin-top: 80px;
            }
        }

        .list-item:last-of-type {
            margin-right: 0px;
        }
    }
}