.why {
    padding-left: 110px;
    padding-right: 110px;

    .container {
        justify-content: space-between;
        padding-left: 0px;
        padding-right: 0px;
    }

    .why-left {
        margin-right: 0px;
    }
}